{% extends 'base.html' %}

{% block header %}
  <div class="mx-auto" style="width: 1800px;">
<h1>{% block title %}For Sale{% endblock %}</h1>
  {% if g.user %}
  
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  </div>
  {% endif %}
{% endblock %}



{% block content %}



  {% for post in posts %}
    <article class="post">
      <header>
        <div class="mx-auto" style="width: 1600px;">
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
        <div class="mx-auto" style="width: 1600px;">
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        </div>
        {% endif %}
      </header>
      <div class="mx-auto" style="width: 1600px;">
      <p class="body">{{ post['body'] }}</p>
       <hr>
       <b>Pris:</b><h5 class="pris">{{ post['pris'] }} kr</h5>

      </div>
    </article>
    <div class="mx-auto" style="width: 1600px;">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ post['id'] }}">
      Read More
    </button>
    </div>

<div class="modal fade" id="{{ post['id'] }}" tabindex="-1" role="dialog" aria-labelledby="{{ post['id'] }}" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title" id="{{ post['id'] }}">{{ post['title'] }}</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">


              <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>

              {% if g.user['id'] == post['author_id'] %}
              <div class="mx-auto" style="width: 1600px;">
                  <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
              </div>
              {% endif %}
              <hr>
              <p class="body">{{ post['body'] }}</p>

              <p class="body2">{{ post['body2'] }}</p>

              <b>Pris:</b><h5 class="pris">{{ post['pris'] }} kr</h5>

          </div>
          <hr />
          <div class="modal-body">
              {% for comment in comments%}

              {% if  post['id']  ==  comment['postid']  %}
              <div class="about">by {{comment['username']}} on {{comment['cCreated'].strftime('%Y-%m-%d')}} </div>
              <hr />
              <h6 class="form-control">{{ comment['commenttext'] }}</h6>

              {% endif %}



              {% endfor %}
          </div>
          <form method="post">
              <textarea class="form-control" name="commenttext" rows="2" id="commenttext" placeholder="Insert Comment here, Remember to keep civil." maxlength="280"></textarea>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" value="save">Submit comment</button>
              </div>
              <input type="hidden" id="ctid" name="ctid" value="{{post['id']}}">
          </form>

      </div>
  </div>
</div>
    {% if not loop.last %}
      <hr>
    {%  endif %}
  {% endfor %}
<hr />
{% endblock %}

<!-- https://getbootstrap.com/docs/4.0/components/modal/ for post innhold, https://freefrontend.com/bootstrap-comments/ for comments, scratch that, gjorde comments by hand. -->