{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}User Profile{% endblock %}</h1>
  
{% endblock %}

{% block content %}

{% if g.user %}




<div class="jumbotron jumbotron-fluid">
  <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
  <div class="container">
    <h1 class="display-4">User info about: {{ g.user['username'] }}</h1>
    <p class="lead"></p>
    {% for email in email %}
      <p class="lead">Username: {{ g.user['username']}}</p>
      <div class="lead" id="{{ email['uid'] }}">Email: {{email['mail']}} </div>
      
      <p class="lead">
    {% endfor %}
      <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
      <h3 class="display-4"><img src="/static/images/logo.png" width="250" height="250" class="d-inline-block align-mid">
   
  </div>
  <div class="row mb-3"></div>
  <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        
        
</div>

<div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        
        
        
        
        





        {% else %}



{% endif %}





{% endblock %}
