{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}User Profile{% endblock %}</h1>
  
{% endblock %}

{% block content %}

{% if g.user %}




<div class="jumbotron jumbotron-fluid">

  <div class="container">
    <h1 class="display-4">User info about: {{ g.user['username'] }}</h1>
    <p class="lead"></p>
    
      <p class="lead">Username: {{ g.user['username']}}</p>
    {% for email in email %}
    {% if  g.user['id'] ==  email['uid']  %}
      <div class="lead" id="{{ email['uid'] }}">Email: {{email['mail']}} </div>
      
      <p class="lead">
    {% endif %}
    {% endfor %}
    <div class="form-row mb-3">
            
          
            <div class="row mb-3"></div>
            <div class="row mb-3"></div>
          <h3 class="haha">Change password:    BROKEN, DID NOT SURVIVE POSTGRESQL</h3>
          <div class="form-row mb-3"></div>
          <div class="col">
            <label for="password">New password</label>
            <input type="Password" class="form-control" name="password" id="password" required placeholder="Password">
          </div>
          <div class="col">
            <label for="conf_password">Confirm new password</label>
            <input type="password" class="form-control" name="conf_password"  required placeholder="Confirm password">
          </div>
          </div>
          <div class=" form-row mb-3">
            <button type="submit" value="Register" class="btn btn-primary">Save</button>
          </div>
     
 
      <h3 class="display-4"><img src="/static/images/logo.png" width="330" height="330" class="d-inline-block align-mid">
   
  </div>

        <div class="row mb-3"></div>


        <div class="row mb-3"></div>

    
        
        
</div>

<div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
        <div class="row mb-3"></div>
  
        
        
        
        
        





        {% else %}



{% endif %}





{% endblock %}
